 {% extends 'base_app.html.twig' %}
{% block body %}
  <section class="center">
    <div class="circle valign-wrapper">
      <div class="value_container">
        <h2 class="value_grl">3887</h2>
        <span>MXN</span>
      </div>
    </div>
    <p class="center">Saldo disponible para canje por Gasolina</p>
    <a class="waves-effect waves-darken btn sec_btn">Agregar Saldo</a>

  </section>

  <section class="pricing-table">
    <div class="container">
      <div class="row ">
        <div class="col s6">
          <h4 class="date_title"> <span>Valor por litro</span> <br> 12/08/19 </h4>
        </div>
        <div class="col s6">
          <h3 class="gas_price">1090<span>MXN</span> </h3>
        </div>
      </div>
    </div>
  </section>
 {% endblock %}