{% extends 'base_app.html.twig' %}

{% block header %}
      <nav>
      <div class="nav-wrapper principal_bg">
        <a href="#!" class="brand-logo">Permergas</a>
        <ul class="right">
          <li><a class='dropdown-button' href='#' data-activates='menu2'><i class="material-icons">more_vert</i></a></li>
        </ul>
        <!-- Menu 2 -->
        <ul id='menu2' class='dropdown-content'>
          <li><a href="#!">Ajustes de Seguridad</a></li>
          <li><a href="#!">Solicitar Credito</a></li>
          <li class="divider"></li>
          <li><a href="#!">Información</a></li>
          <li><a href="#">Cerrar Sesión</a></li>
        </ul>

      </div>
    </nav>
{% endblock%} 
{% block body %}
  <section class="center">
    <div class="circle valign-wrapper">
      <div class="value_container">
        <h2 class="value_grl">{{wallet.saldo+wallet.saldoCredito}}</h2>
        <span>MXN</span>
      </div>
    </div>
    <p class="center">Saldo disponible para canje por Gasolina</p>
    <a href="{{asset('app/qr')}}" class="waves-effect waves-darken btn sec_btn">Agregar Saldo</a>

  </section>

  <section class="pricing-table">
    <div class="container">
      <div class="row ">
        <div class="col s6">
          <h4 class="date_title"> <span>Valor por litro</span> <br> {{fecha|date('d/m/y')}} </h4>
        </div>
        <div class="col s6">
          <h3 class="gas_price">1090<span>MXN</span> </h3>
        </div>
      </div>
    </div>
  </section>

   <div class="app-bar">
     <div class="bar">
       <a class="action_bottom" href="#"> <i class="material-icons">map</i> </a>
       <a class="action_bottom" href="#"> <i class="material-icons">trending_up</i> </a>
       <a class="action_bottom"> </a>
       <a class="action_bottom" href="#"> > </a>
       <a class="action_bottom" href="#"> <i class="material-icons">card_giftcard</i </a>
       <a class="circle_btn button">
        <i class="material-icons gas-img">local_gas_station </i>
       </a>
       <a class="action_bottom" href="#"> <i class="material-icons">person</i> </a>
     </div>
 {% endblock %}