<nav>
      <div class="nav-wrapper principal_bg">
        <ul class="left">
          <li><a href="javascript:window.history.back();"><i class="material-icons">keyboard_backspace</i></a></li>
        </ul>
                <a href="#!" class="brand-logo">Agregar Saldo</a>

        <!-- Menu 2 -->
        <ul id='menu2' class='dropdown-content'>
          <li><a href="#!">Ajustes de Seguridad</a></li>
          <li><a href="#!">Solicitar Credito</a></li>
          <li class="divider"></li>
          <li><a href="#!">Información</a></li>
          <li><a href="{{asset('logout')}}">Cerrar Sesión</a></li>
        </ul>

      </div>
    </nav>