{% extends 'base_app.html.twig' %}

{% block header %}
      <nav>
      <div class="nav-wrapper principal_bg">
        <a href="#!" class="brand-logo">Promociones</a>
        <ul class="right">
          <li><a class='dropdown-button' href='#' data-activates='menu2'><i class="material-icons">more_vert</i></a></li>
        </ul>
        <!-- Menu 2 -->
        <ul id='menu2' class='dropdown-content'>
          <li><a href="#!">Ajustes de Seguridad</a></li>
          <li><a href="#!">Solicitar Credito</a></li>
          <li class="divider"></li>
          <li><a href="#!">Información</a></li>
          <li><a href="#">Cerrar Sesión</a></li>
        </ul>

      </div>
    </nav>
{% endblock%} 
{% block body %}
 <section class="body_splash valign-wrapper">
    <img class="logo" src="{{asset('themeapp/img/logo.svg')}}" height="150px" alt="">
  </section>
{% endblock%} 
