{% extends 'base_app.html.twig' %}
{% block style %}
  

  <link type="text/css" rel="stylesheet" href="{{asset('themeapp/css/pincode.css')}}" media="screen,projection" />  

 
  <link type="text/css" rel="stylesheet" href="{{asset('themeapp/css/qr.css')}}" media="screen,projection" />  
{% endblock %}
 
{% block header %}
    <nav>
      <div class="nav-wrapper principal_bg">
        <ul class="left">
          <li><a href="javascript:window.history.back();"><i class="material-icons">keyboard_backspace</i></a></li>
        </ul>
                <a href="#!" class="brand-logo">Agregar Saldo</a>

        <!-- Menu 2 -->
        <ul id='menu2' class='dropdown-content'>
          <li><a href="#!">Ajustes de Seguridad</a></li>
          <li><a href="#!">Solicitar Credito</a></li>
          <li class="divider"></li>
          <li><a href="#!">Información</a></li>
          <li><a href="#">Cerrar Sesión</a></li>
        </ul>

      </div>
    </nav>
{% endblock%} 
{% block body %}
  
    <div id="pincode">
    <div class="table">
      <div class="cell">

        <div id="anleitung">
          <p>
            <strong>Ingresa tu código pin</strong>
          </p>
        </div>

        <div id="fields">
          <div class="grid">
            <div class="grid__col grid__col--1-of-4 numberfield"><span></span></div>
            <div class="grid__col grid__col--1-of-4 numberfield"><span></span></div>
            <div class="grid__col grid__col--1-of-4 numberfield"><span></span></div>
            <div class="grid__col grid__col--1-of-4 numberfield"><span></span></div>
          </div>
        </div>

        <div id="numbers">
          <div class="grid">
            <div class="grid__col grid__col--1-of-3"><button>1</button></div>
            <div class="grid__col grid__col--1-of-3"><button>2</button></div>
            <div class="grid__col grid__col--1-of-3"><button>3</button></div>

            <div class="grid__col grid__col--1-of-3"><button>4</button></div>
            <div class="grid__col grid__col--1-of-3"><button>5</button></div>
            <div class="grid__col grid__col--1-of-3"><button>6</button></div>

            <div class="grid__col grid__col--1-of-3"><button>7</button></div>
            <div class="grid__col grid__col--1-of-3"><button>8</button></div>
            <div class="grid__col grid__col--1-of-3"><button>9</button></div>

            <div class="grid__col grid__col--1-of-3"></div>
            <div class="grid__col grid__col--1-of-3"><button>0</button></div>
            <div class="grid__col grid__col--1-of-3"></div>

          </div>
        </div>

      </div>
    </div>
  <div id="restartbtn">RESTART</div>

  </div>
  

   <section class="qrcontainer valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h4 class="center">Enseña el código QR al despachador</h4>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <img src="https://images.samsung.com/is/image/samsung/p5/au/faq/os-pie-updates/QR-code.png" alt="">
        </div>
      </div>
    </div>
  </section>
{% endblock %} 
{% block javascripts %}
  <script src="{{asset('themeapp/js/codepin.js')}}"></script>
{% endblock %} 
