{% extends 'base_app.html.twig' %}
{% block style %}
  <link type="text/css" rel="stylesheet" href="{{asset('themeapp/css/qr.css')}}" media="screen,projection" />  
{% endblock %}
 
{% block header %}
    <nav>
      <div class="nav-wrapper principal_bg">
        <ul class="left">
          <li><a href="javascript:window.history.back();"><i class="material-icons">keyboard_backspace</i></a></li>
        </ul>
                <a href="#!" class="brand-logo">Agregar Saldo</a>

        <!-- Menu 2 -->
        <ul id='menu2' class='dropdown-content'>
          <li><a href="#!">Ajustes de Seguridad</a></li>
          <li><a href="#!">Solicitar Credito</a></li>
          <li class="divider"></li>
          <li><a href="#!">Informaci칩n</a></li>
          <li><a href="#">Cerrar Sesi칩n</a></li>
        </ul>

      </div>
    </nav>
{% endblock%} 
{% block body %}
   <section class="qrcontainer valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h4 class="center">Ense침a el c칩digo QR al despachador</h4>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <img src="https://images.samsung.com/is/image/samsung/p5/au/faq/os-pie-updates/QR-code.png" alt="">
        </div>
      </div>
    </div>
  </section>
{% endblock%} 
