{% extends 'base.html.twig' %}

{% block title %}New PuntosVenta{% endblock %}

{% block body %}
    <h1>Create new PuntosVenta</h1>

    {{ include('puntos_venta/_form.html.twig') }}

    <a href="{{ path('puntos_venta_index') }}">back to list</a>
{% endblock %}
