{% extends 'base.html.twig' %}
{% block content_title %}Dashboard Cliente{% endblock %}

{% block busqueda_general %}
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-lg-4">
        <div class="plain-card">
            <div class="card-inner">
                <h6 class="tx-primary m-b-10">Precio Gasolina</h6>
                <div class="row">
                    <div class="col col-block">
                        <label class="font-14">Premium</label>
                        <p>{{gasolina_premium}}</p>
                    </div>
                    <div class="col col-block">
                        <label class="font-14">Diesel</label>
                        <p>{{gasolina_diesel}}</p>
                    </div>
                    <div class="col col-block">
                       <label class="font-14">Corriente</label>
                        <p>{{gasolina_diesel}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="plain-card">
            <div class="card-inner">
                <h6 class="tx-primary m-b-10">Saldo Wallet</h6>
                <div class="row">
                    <div class="col col-block">
                        <h4>{{wallet.saldo}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="col-lg-4">
        <div class="plain-card">
            <div class="card-inner">
                <h6 class="tx-primary m-b-10">Saldo Crédito</h6>
                <div class="row">
                    <div class="col col-block">
                        <h4>0</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


