{% extends 'base.html.twig' %}
{% block content_title %}Dashboard Admin{% endblock %}

{% block busqueda_general %}
{% endblock %}

{% block body %}
<div class="row">

     <div class="col-lg-3 col-sm-6">
        <div class="support-box text-center purple">
            <div class="icon m-b-10">
                
            </div>
            <div class="text m-b-10">Total Puntos Venta</div>
            <h3 class="m-b-0">1107
                <i class="material-icons">trending_up</i>
            </h3>
            <small class="displayblock">Crecimiento de 55% </small>
        </div>
    </div>

     <div class="col-lg-3 col-sm-6">
        <div class="support-box text-center green">
            <div class="icon m-b-10">
                
            </div>
            <div class="text m-b-10">Total Clientes</div>
            <h3 class="m-b-0">200
                <i class="material-icons">trending_up</i>
            </h3>
            <small class="displayblock">Crecimiento de 25% </small>
        </div>
    </div>

     <div class="col-lg-3 col-sm-6">
        <div class="support-box text-center blue">
            <div class="icon m-b-10">
                
            </div>
            <div class="text m-b-10">Total Recargas</div>
            <h3 class="m-b-0">1107
                <i class="material-icons">trending_up</i>
            </h3>
            <small class="displayblock">Crecimiento de 35% </small>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6">
        <div class="support-box text-center cyan">
            <div class="icon m-b-10">
                
            </div>
            <div class="text m-b-10">Total Pagos</div>
            <h3 class="m-b-0">200
                <i class="material-icons">trending_up</i>
            </h3>
            <small class="displayblock">Crecimiento de 50% </small>
        </div>
    </div>

</div>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="card">

    <div class="header">
        <h2>
            <strong>Últimas Transacciones</strong>
        </h2>
    </div>

    <div class="card-body table-responsive">
    <table class="table table-condensed">
  
        <thead>
            <tr>
              <th>Id</th>
              <th>Fecha</th>
              <th>Valor</th>

            </tr>
        </thead>
        <tbody>
         <tr>
                <td colspan="19">no se encuentran resultados</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
{% endblock %}
