{% extends 'base.html.twig' %}
{% block content_title %}Dashboard Flotilla{% endblock %}

{% block busqueda_general %}
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-lg-4">
        <div class="plain-card">
            <div class="card-inner">
                <h6 class="tx-primary m-b-10">Total Clientes</h6>
                <div class="row">
                    <div class="col col-block">
                        <h2>{{total_clientes}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="plain-card">
            <div class="card-inner">
                <h6 class="tx-primary m-b-10">Saldo Wallet Admin</h6>
                <div class="row">
                    <div class="col col-block">
                        <h2>{{wallet.saldo|number_format(2)}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="plain-card">
            <div class="card-inner">
                <h6 class="tx-primary m-b-10">Saldo Wallet Credito</h6>
                <div class="row">
                    <div class="col col-block">
                        <h2>{{wallet.saldoCredito|number_format(2)}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="plain-card">
            <div class="card-inner">
                <h6 class="tx-primary m-b-10">Saldo Wallet Clientes</h6>
                <div class="row">
                    <div class="col col-block">
                        <h2>{{saldo_clientes|number_format(2)}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
</div>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="card">

    <div class="header">
        <h2>
            <strong>Últimas Transacciones</strong>
        </h2>
    </div>

    <div class="card-body table-responsive">
    <table class="table table-condensed">
  
        <thead>
            <tr>
              <th>Id</th>
              <th>Fecha</th>
              <th>Valor</th>

            </tr>
        </thead>
        <tbody>
         <tr>
                <td colspan="19">no se encuentran resultados</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
{% endblock %}
