<li>

    <a href="{{asset('/admin/usuarios')}}">
        <i class="far fa-user"></i>
        <span>Usuarios</span>
    </a>
</li>

<li>

    <a href="{{asset('/admin/flotillas')}}">
        <i class="far fa-calendar"></i>
        <span>Flotillas</span>
    </a>
</li>
<li>
    <a href="{{asset('/admin/clientes')}}">
        <i class="far fa-calendar"></i>
        <span>Clientes</span>
    </a>
</li>
 <li>
    <a href="{{asset('/admin/gasolineras')}}">
        <i class="far fa-calendar"></i>
        <span>Gasolineras</span>
    </a>
</li>

