  <li>
        <a href="{{asset('/admin/clientes')}}">
            <i class="far fa-calendar"></i>
            <span>Clientes</span>
        </a>
    </li>
  <li>
      <a href="{{asset('/admin/promociones')}}">
          <i class="far fa-calendar"></i>
          <span>Promociones</span>
      </a>
  </li>
  
  <li>
      <a href="{{path('flotillas_usuarios', {'id': flotilla.id})}}">
          <i class="far fa-calendar"></i>
          <span>Usuarios</span>
      </a>
  </li>

  <li>
       <a  href="{{ path('clientes_index') }}">
          <i class="far fa-calendar"></i>
          <span>Clientes</span>
      </a>
  </li>
                            