  <li>
      <a href="{{asset('/admin/precio/gasolina')}}">
          <i class="far fa-calendar"></i>
          <span>Precio Gasolina </span>
      </a>
  </li>
  <li>
      <a href="#">
          <i class="far fa-calendar"></i>
          <span>Transacciones </span>
      </a>
  </li>