  <li>
      <a href="{{asset('/admin/precio/gasolina')}}">
          <i class="far fa-calendar"></i>
          <span>Precio Gasolina </span>
      </a>
  </li>
  <li>
      <a href="/admin/transacciones">
          <i class="far fa-calendar"></i>
          <span>Transacciones </span>
      </a>
  </li>

   <li>
      <a href="/admin/puntos/venta/gasolinera/{{gasolinera.id}}">
          <i class="far fa-calendar"></i>
          <span>Puntos de Venta </span>
      </a>
  </li>