
<a href="{{path('pagos_clientes')}}" class=" waves-effect waves-block">
    <i class="fas fa-folder"></i>
    <span>Cheques y transferencias</span>
</a>
</li>

<li>
<a href="{{path('cuentas_por_cobrar_clientes')}}" class=" waves-effect waves-block">
    <i class="fas fa-folder"></i>
    <span>Facturas por pagar</span>
</a>
</li>

<li>
<a href="{{asset('clientes/nomina/index')}}" class=" waves-effect waves-block">
    <i class="fas  fa-users"></i>
    <span>Nomina</span>
</a>
</li>