{% extends 'base_app_vendedor.html.twig' %}
{% block style %}

{% endblock %}
{% block header %}
    {{include('app_vendedor/nav.html.twig')}}
{% endblock%} 
{% block body %}

 <section class="body_vendedor valign-wrapper">
<div class="container_90">


    <div class="row">
       <div class="col s12 m4">
         <a href="#" class="waves-effect waves-darken block card teal darken-3">
           <div class="card-content white-text center ">
             <span class="card-title">RECARGA CLIENTE</span>
             <i class="material-icons large">attach_money</i>
             <p> Escanea el código del cliente, recibe el efectivo y adjunta la fotografía del comprobante.</p>
           </div>
         </a>
       </div>
       <div class="col s12 m4">
         <a href="{{asset('vendedor/qr/scan')}}" class="waves-effect waves-darken block card blue-grey darken-1">
           <div class="card-content white-text center">
             <span class="card-title">CARGAR GASOLINA</span>
             <i class="material-icons large">local_gas_station</i>
             <p>Escanea el código del cliente, ingresa el valor a cargar en gasolina y confirma con tu códifo de vendedor.</p>
           </div>
         </a>
       </div>

       <div class="col s12 m4">
         <a href="{{asset('vendedor/transacciones')}}" class="waves-effect waves-darken block card indigo">
           <div class="card-content white-text center">
             <span class="card-title">TRANSACCIONES</span>
             <i class="material-icons large">trending_up</i>
             <p>Consulta las transacciones del día y el valor total recargado por medio de la app Permergas.</p>
           </div>
         </a>
       </div>
     </div>
</div>
  </section>
 
 
 {% endblock %}

