.img_cvv {
  position: absolute;
  right: 10px;
  height: 25px;
  top: 5px;
}
.cc_img {
  height: 20px;
  margin-right: 10px;
  float: left;
}

.overinit {
  overflow: initial !important;
}

.title_2 {
  font-weight: 500;
  color: #666 !important;
}


.valor_principal {
  font-size: 4rem !important;
  height: 5rem !important;
  text-align: center;
  border-bottom: none !important;
  margin: 0 !important;
  box-shadow: none !important;
}
