body{
margin-bottom: 60px;
}
.body_splash {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(247,146,30);
  background: -moz-linear-gradient(top, rgb(247,146,30) 0%, rgb(241,91,36) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(247,146,30)), color-stop(100%, rgb(241,91,36))) !important;
  background: -webkit-linear-gradient(top, rgb(247,146,30) 0%, rgb(241,91,36) 100%);
  background: -o-linear-gradient(top, rgb(247,146,30) 0%, rgb(241,91,36) 100%);
  background: -ms-linear-gradient(top, rgb(247,146,30) 0%, rgb(241,91,36) 100%);
  background: linear-gradient(to bottom, rgb(247,146,30) 0%, rgb(241,91,36) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7921e', endColorstr='#f15b24', GradientType=0 );
}


.sec_btn {
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    background: #ff8000 !important;
}

.body_tuto {
  background: #f1f1f1;
  position: absolute;
  height: 100%;
  width: 100%;
}

.principal_bg {
  background: #ff8000
}

.logo {
  margin: 0 auto;
}

.carousel-slide {
  height: 100% !important;
}

.img_slider{
  height: 260px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.divisor {
  background: #ff5a19;
  height: 2px;
  width: 120px;
  margin: 0 auto;
}

.carousel .indicators .indicator-item.active {
  background: #ff8000;
  height: 16px;
  width: 16px;
  margin: 22px 4px;
}

.carousel .indicators {
  bottom: 40px !important;
}

.carousel .indicators .indicator-item {
  background: #0072b8;
  height: 12px;
  width: 12px;
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators{
  bottom: 20px;
}



.img-btn {
  display: inline-block;
  margin-top: 8px;
  float: left;
  margin-right: 15px;
}

.icon-btn {
  float: left;
  font-size: 20px !important;
  margin-right: 15px;
}




.login_form {
  margin-top: 30px
}

.btn-app {
  border-radius: 25px;
  width: 100%;
}
.divisor_login {
  margin-top: 30px;
  margin-bottom: 30px;
  clear: both;
}
.btn-app-login{
  color: #fff;
    width: 100%;
    background: transparent !important;
    text-transform: capitalize;
}

.bg_principal{
  background: #0072b8 !important;
}

.bg_fb{
  background: #3b5998  !important;
}

.bg_white{
  background: #fff !important;
  color: #666 !important;
}

.left-align-btn {
  text-align: left !important
}



/* dash */

.circle {
    margin: 25px auto;
    width: 126px;
    height: 126px;
    background: white;
    border-radius: 100px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.circle:before {
  border-radius: 100%;
  content: '';
  background-image: linear-gradient(to bottom, rgba(255,90,25,0.7) 0%, rgba(255,134,0,0.7) 50%, rgba(0,114,184,0.7) 100%);
  padding: 25px !important;
  width: 140px;
  height: 140px;
  top: -7px;
  left: -7px;
  position: absolute;
  z-index: -1;
}


.value_grl{
  font-size: 3rem;
  line-height: 100%;
  text-align: center;
  margin: 0;
  font-weight: 300;
}

.value_container {
  margin: 0 auto;
  padding-top: 25px;
}


.value_container span{
  font-size: 1.4rem;
  font-weight: 600;
}

.gas_price span{
  font-size: 24px;
  font-weight: 300;
  color: #666;
}


.date_title span{
  font-size: 16px;
font-weight: 300;

}

.date_title {
  font-size: 2rem;
  font-weight: 600;
}
.gas_price {
  color: #0072b8;
  font-weight: 600;
  padding-top: 20px;
}

.pricing-table {
  margin-top: 5px;
}

.container_bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #0072b8;
  height: 50px;
}


.app-bar{
  width:100%;
  height:50px;
  position:fixed;
  bottom:0px;
  left:0;
}

.app-bar .bar{
  line-height:50px;

  position:relative;
  width:100%;
  height:50px;
  background-image: radial-gradient(circle 34px at 50% 0, transparent 700px, #0072b8 50px);

}




.app-bar .bar i{
  color:#FFF;
  display:block;
  line-height:50px;
  text-align:center;
  cursor:pointer;
  margin:0 auto;
}

.app-bar .bar .circle_btn{
  padding:0px;
  box-sizing:border;
  text-align:center;
  position: absolute;
  bordeR:0px;
  outline:0px;
  width:60px;
  height:60px;
  line-height:60px;
  cursor:pointer;
  color:#FFFFFF;
  display:block;
  border-radius:50%;
  position:absolute;
  top:-30px;
  background-color:#ff8000;
  transition: all .2s ease;
  position:absolute;
  left:50%;
  margin-left:-30px;
}
.app-bar .bar .circle_btn span{
  line-height:60px;
  font-size:30px;

}

.gas-img {
  font-size: 40px;
  margin-top: 5px !important;
}

.action_bottom {
  display: block;
  width: 20%;
  text-align: center;
  float: left;
}

.mt-4 {
  margin-top: 20px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-10 {
  margin-top: 50px;
}

.input-field .prefix {
  color: #00a5dd
}
/* dash */


#menu2 {
  width: auto !important;
  right: 0;
  left: auto !important;
}

  .success-transaccion::before{
    content: '+'
  }
  .success-transaccion{
    color: green;
   }
   .danger-transaccion{
    color:red;
   }

@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
  #no-more-tables table, 
  #no-more-tables thead, 
  #no-more-tables tbody, 
  #no-more-tables th, 
  #no-more-tables td, 
  #no-more-tables tr { 
    display: block; 
  }
 
  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  #no-more-tables tr { border: 1px solid #ccc; }
 
  #no-more-tables td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    white-space: normal;
    text-align:left;
  }
 
  #no-more-tables td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
 
  /*
  Label the data
  */
  #no-more-tables td:before { content: attr(data-title); }
}
