.subs {
  font-weight: 500;
  color: #666;
}

.value {
  font-size: 2.4rem;
  margin-top: 5px;
  font-weight: 600;
}

.sup{
  position: absolute;
  top: 22px;
  font-size: 16px;
  left: 5px;
}

.message {
  line-height: 12px;
  color: #666;
}

.m0 {
  margin: 0;
}


.steps {
  font-size: 12px;
  list-style-type:decimal;
}


.card-content2 {
  padding: 15px;
}


.card-content2 h3{
  font-size: 2rem;
}

.succes-message {
  border-radius: 5px;
  border: 1px solid #3a7d30;
  color: #3a7d30;
  padding: 10px;
  background: #f8ffff
}

.text_pines {
  display: inline;
}

.tc_min {
  float: left;
margin-right: 10px;
}

.check_icon {
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 30px;

}
