{% extends 'base_app.html.twig' %}

{% block content_title %}Pagos{% endblock %}

{% block busqueda_general %}
{% endblock %}

{% block body %}
 
  <div class="row">

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="card">
        <div class="header bg-cyan ">
            <h2>
               Recargar
            </h2>
            
        </div>
        <div class="card-body ">
           <h2>Agrega saldo a tu billetera</h2>

        </div>
         <div class="card-footer">

            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal_agregar_saldo" >Agregar Saldo</button>
            
        </div>

   

    </div>
    </div>
   </div>


<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<div class="modal fade" id="modal_agregar_saldo" tabindex="-1" role="dialog" aria-labelledby="modal_agregar_saldo" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Saldo Test </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_agregar_saldo" action="" method="POST">
                  
                    <label for="password">Valor a transferir</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="number" min="0" max="1000000" id="saldo_wallet" name="valor" class="form-control" placeholder="$ valor en pesos mexicanos">
                        </div>
                    </div>

                    <br>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success waves-effect" id="btn_save_transferencia">Guardar</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}

{% block body_javascript %}
<script type="text/javascript">

$(document).ready(function(){

	 $('#form_agregar_saldo').validate({
        rules: {
            'valor': {
                required: true,
                min:1,
                max:1000000
            },
        },
        messages:{
            'valor':{
                required:'Ingresa el saldo a transferir',
                min:'Ingresa un valor valido',
                max:'El valor a transferir no debe superar el 1000000 de MXN'
            }
        },
        highlight: function (input) {
            $(input).parents('.form-line').addClass('error');
        },
        unhighlight: function (input) {
            $(input).parents('.form-line').removeClass('error');
        },
        errorPlacement: function (error, element) {
            $(element).parents('.form-group').append(error);
        }
    });
	$("#btn_save_transferencia").click(function(e){
        e.preventDefault();
        var valid=$('#form_agregar_saldo').valid();
        if(valid){
            $('#form_agregar_saldo').submit();
        }
    })

})
</script>

{% endblock %}
