  <a href="{{path('detalle_factura',{id:pdf.id})}}" data-toggle="modal" data-target="#exampleModalDetalle" class="col-dark-gray waves-effect m-r-20 detalle_factura" data-id="{{pdf.id}}" title="Ver Detalle">
                         <i class="material-icons">attach_file</i>
                       

</a>

